<div class="main-box " >
<div class="row">
<div class="col-md-2 about-page ">
         <div class="bc-sidebar">
          <ul class="nav  navbar-text nav-list bc-sidenav">
            <li><a href="#about-us">关于食遇天下</a></li>
            <li><a href="#member-show">制作成员介绍</a></li>
            <li><a href="#contact">联系我们</a></li>
           
          </ul>
        </div>
      </div>
  
  <div class="col-md-10" style="background-color:white">
        <section id="about-us">
          <div class="page-header">
            <h3>关于食遇天下</h3>
          </div>
      <p >所谓“靠山吃山，靠水吃水”。“一方水土养一方人”，讲的是适应。中国幅员辽阔，自然条件千差万别。生活在中国大地上的56个民族，在不同自然环境中，各自形成了富有特色的丰富的饮食习俗。如生活在大草原上的蒙古、藏、哈萨克等族的牧民，食肉饮乳；赫哲族生活在黑龙江三江水乡，鱼是最主要的食物；而生活在兴安岭密林中的鄂伦春人，食必鸟兽肉……这在交通运输不发达的时代，更是不可改变的饮食模式。南方适于种水稻，故南方人民普遍以大米为主食；北方多种小麦、杂粮，故北方人民以面、杂粮为主食；青藏高原宜种青棵，故生活在这里的各族农民主食青稞。蜀湘湿气重，人多食辣；晋、陕、甘、湘、贵及许多山区，或因水土矣系，或因历史上长期缺盐，人喜食酸……饮食上的这些地方特色使中国饮食文化展现出异彩纷呈的局面</p>
        </section>
        
        <section id="member-show">
         

          
	 <div class="table-view"><table class="table  table-bordered table-hover">
                   <tr><h3>食遇中国小组组员介绍：</h3></tr>
                  
                   <tr >
                   	<td class="col-md-2">食遇贵州——杨胜福</td>
                   	<td class="col-md-8"><p>学号：2011301760001</p>
                                <p>负责贵州美食部分，网页整体框架制作</P></td>
                   	<td class="col-md-2"><img src="/images/01.jpg"/></td>
                   </tr>
                   <tr>
                   	<td >食遇广州——刘可柔</td>
                   	<td><p>学号：2011301760053</p>
                                <p>负责广州美食部分，组员简介分页制作</P></td>
                   	<td><img src="/images/53.jpg" class="img-circle head-img"/></td>
                   </tr>
                   <tr>
                   	<td>食遇四川——刘磊</td>
                   	<td><p>学号：2011301760001</p>
                                <p>负责四川美食部分，网页图片处理，欢迎页面制作</P></td>
                   	<td>食遇2</td>
                   </tr>
                   <tr>
                   	<td>食遇福建——孙丹丹</td>
                   	<td><p>学号：2011301760048</p>
                                <p>负责福建美食部分，网页设计分工</P></td>
                   	<td><img src="/images/48.jpg" class="img-circle head-img"/></td>
                   </tr>
                   <tr>
                   	<td>食遇北京——林天禅</td>
                   	<td><p>学号：2011301760051</p>
                                <p>负责北京美食部分，实习报告综合整理</P></td>
                   	<td><img src="/images/01.jpg" class="img-circle  head-img"/></td>
                   </tr>
                   <tr>
                   	<td>食遇陕西—王逍遥</td>
                   	<td><p>学号：2011301760052</p>
                                <p>负责陕西美食部分，网页局部处理，美化</P></td>
                   	<td><img src="/images/52.jpg" class="img-circle  head-img"/></td>
                   </tr>
                   <tr>
                   	<td>食遇香港——詹永诗</td>
                   	<td><p>学号：2013311750092</p>
                                <p>负责香港美食部分，图片及flash处理</P></td>
                   	<td><img src="/images/92.png" class="img-circle  head-img"/></td>
                   </tr>


	</table>
	</div>
   </section> 
   <section id="contact">
          <div class="page-header">
            <h3>联系我们</h3>
          </div>
       <p class="lead">Gmail:mynameisfushengyang@gmail.com</p>
        </section>
</div>
</div>
</div>
<script>
  $('body').scrollspy({ target: '.navbar-example' })
</script>