<div class="main-box " >
<div class="row">
<div class="col-md-2 about-page ">
         <div class="bc-sidebar">
          <ul class="nav  navbar-text nav-list bc-sidenav">
            <li><a href="#food-menu">什么是食谱？</a></li>
            <li><a href="#how-created">如何创建食谱和视频？</a></li>
            <li><a href="#other-problem">其他问题？</a></li>
           
          </ul>
        </div>
      </div>
  
  <div class="col-md-10" style="background-color:white">
        <section id="food-menu">
          <div class="page-header">
            <h3>什么是食谱？</h3>
          </div>
      <p >食谱是用来描述详细的美食信息的，本站主要通过名称，地区，美食标签，美食描述信息以及插图，美食的制作过程来描述食谱信息。名称是必须要添加的，在本站中多处都用到美食的标题，通过标题给出第一认识，通过插图给出初步的印象，地区和美食标签是用来做分类和标记的，在网站导航中会根据标签对美食进行分类展示，以便用户能更好的挑选美食信息。美食的描述信息可以让用户深入的了解美食的具体信息，同时通过制作步骤可以让用户了解制作过程，并学会制作自己喜爱的美食。</p>
        </section>
        
        <section id="how-created">
         
          <div class="page-header">
            <h3>如何创建食谱和视频？</h3>
          </div>
          <p>如果要创建食谱和视频，需要先注册账号，注册登录之后才可以发布食谱和视频。</p>
	  <p>创建食谱：在登录之后，在顶部导航栏右侧会显示用户信息，点击用户名下拉菜单，会看到食谱管理，以及创建的相关菜单，点击食谱创建即可，点击食谱创建之后就会跳转到食谱创建的页面，然后在食谱创建页面添加待上传的食谱信息即可（提示：名称，地区，描述信息，插图必须有，标签和制作过程可以不填。）</p>
	
   </section> 
   <section id="other-problem">
          <div class="page-header">
            <h3>其它问题？</h3>
          </div>
       <p class="lead">如果本页面并不能解决你的问题，请联系管理员。</p>
        </section>
</div>
</div>
</div>
<script>
  $('body').scrollspy({ target: '.navbar-example' })
</script>


