<div class="center main-box">
  <h1>Welcome to the Guangchangwu web,enjoy yourself!</h1>

  
  <div class="row">
   
	<% @videos.each do |video| %>
	 
	  <div class=" col-sm-4">
	  <div class="effect-box">
	      <!-- normal -->
    <div class="ih-item square effect6 top_to_bottom"><a href="#">
        <div class="img"><img  src="<%= video.cover %>" width="18" height="10" alt="img"></div>
        <div class="info">
          <h3>Heading here</h3>
          <p>Description goes here</p>
        </div></a></div>
    <!-- end normal -->
	  	<div class="bottom-box">
	  	    <p ><%= link_to video.title, video %></p>
	  	</div>
	  </div>
	  </div>

	
	<% end %>
	
</div>
<% if user_signed_in? %>
  <%= link_to "create a video now!", new_video_path, class: "btn  btn-primary" %>
  
<% end %>
</div>

