<% provide(:title,"Create video") %>
<div class="main-box">
<h1> 发布视频</h1>
<div class="row">
	<div class="col-md-offset-4">
		<%= form_for(@video) do |v| %>

		  <div class="input-group col-md-8">
		   <span class="input-group-addon"><%= v.label :videourl %></span>
		   <%= v.text_field :videourl ,class:"form-control"%>
           </div>
           
           <div >
		   <%= v.submit "Create a video", class: "btn  btn-primary" %>
		   </div>
		<% end %>
	</div>
</div>
</div>




