<% provide(:title,@title) %>
<h1>all videos are there.</h1>


<div class="container">

	<embed src="<%= @video.flash %>" allowFullScreen="true" quality="    high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-    flash"></embed>
</div>