<% provide(:title,@title) %>


<div class="row">
<div class="play-box col-md-9">
    <h2 class="text-left">标题:<%= @video.title %></h2>
	<embed src="<%= @video.flash %>" allowFullScreen="true" quality="    high" width="860" height="580" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	
	

<div id="SOHUCS"></div>
 <script>
  (function(){
    var appid = 'cyqJ2HyrW',
    conf = 'prod_78b9cab19959e4af8ff46156ee460c74';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script> 
</div>     
<div class=" col-md-3 side-video ">
    <% @videos.each do |v| %>
           
           <% if v.id != @video.id %>
           <div class="inner-box">
        <%= link_to image_tag(v.cover,size: "200x150", :alt => v.title) , v %>
        
            <div class="bottom-box">
                <p ><%= link_to truncate(v.title,length:20), v %></p>
            
            </div>
            </div>
        <% end %>
        
       <% end %>
</div>
 

