<% provide(:title,@title) %>



<div class="play-box">

	<embed src="<%= @video.flash %>" allowFullScreen="true" quality="    high" width="900" height="600" align="middle" allowScriptAccess="always" type="application/x-shockwave-    flash"></embed>
	
</div>