@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #242424;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 50px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#navbar {
  padding-top: 10px;
}
/*video look*/
.box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
    margin: 0 0 0px 0px;
    padding: 0px;
}
.inner-box {
  margin: 10px 0px 0px 20px;
}

.bottom-box {
  margin: 5px;
  height: 50px;
  text-color: black; 
  link-color: black; 
}

.main-box {
  background-color: #E6E6FA;
  padding: 100px 0 100px 20px;
  margin: 0px 0px 0px 0px;
}

.play-box {
  background-color: white;
  padding:100px 10px 100px 10px;
  margin: 50px 0px 0px 0px;
}

.foot-box {
  background-color: gray;
  
  padding: 25px 0 0 0;
}

.flash {
  margin:60px 0 -40px 0;

}
/*back-ground*/
body{
  
  margin: 0 0 0 0;
  padding:0 0 0 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

/*comment css setting*/
.comment-head {
  background-color: gray;
  padding:10px 0 0 10px;
}

.comment-body {
  background-color: brown;
  padding:10px 0 0 20px;
}



.home-play-box {
  box-shadow: 0 0 2px gray;
  margin: -60px 0px 20px -19px;
  background-color: black;
  padding:10px;
}

.home-play-box:hover {
  text-decoration: none;
}
.top-list {
   float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: brown;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 30px
}

.top-head {
  margin: 0 50px 0px 0px;
  color: green;
}
.area-head {
  margin: 0 0 0px 0px;
 color:#242424;
}

.carousel-inner > .item > img{ width:820px; height:420px; }

.update-box {
    background-color: #E6E6FA;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    margin: 0 0 20px 0px;
    padding: 10px;
}
.user-show-box {
  background-color: #E6E6FA;
 
}

/*navbar color change*/
/* set the background-color to red */
.navbar-inner
{
background-color: #7fb80e;
/* remove the gradient */
background-image: none;
/* set font color to white */
color: white;
}

/* menu items */

/* set the background of the menu items to pink and default color to white */
.navbar {
  background-color: #7fb80e;
  background-image: none;
}
.navbar .nav > li > a {
background-color: green;
color: white;

}


/* set hover and focus to lightblue */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
background-color: lightblue;
color: white;
}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

background-color: darkgreen;
color: white;
}