@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: brown;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 50px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#navbar {
  padding-top: 10px;
}
/*video look*/
.box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
    margin: 0 0 0px 0px;
    padding: 0px;
}
.inner-box {
  margin: 10px 0px 0px 20px;
}

.bottom-box {
  margin: 5px;
  height: 50px;
  text-color: black; 
  link-color: black; 
}

.main-box {
  background-color: white;
  padding: 100px 0 100px 20px;
  margin: 0px 0px 0px 0px;
}

.play-box {
  background-color: white;
  padding:100px 10px 100px 10px;
  margin: 50px 0px 0px 0px;
}

.foot-box {
  background-color: #E6E6FA;
  
  padding: 25px 0 0 0;
}

.flash {
  margin:60px 0 -40px 0;

}
/*back-ground*/
body{
  background-color :gray;
  margin: 0 0 0 0;
  padding:0 0 0 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

/*comment css setting*/
.comment-head {
  background-color: gray;
  padding:10px 0 0 10px;
}

.comment-body {
  background-color: brown;
  padding:10px 0 0 20px;
}

.effect-box {
  margin: 0 -50px 0 0;
}