@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #242424;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 50px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#navbar {
  padding-top: 10px;
}
/*video look*/
.box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
    margin: 0 0 0px 0px;
    padding: 0px;
}
.inner-box {
  margin: 10px 0px 0px 20px;
  height:220px;
  width :200px;
}
.inner-box .img{
   height:70%;
   width:100%;  
}

.inner-box-single {
  height: 120;
  width:150;
}
.inner-box-single .img{
    height:auto;
   width:100%;
    }

  .video-inner-box {
  margin: 10px 0px 50px 20px;
  height:150px;
  width :250px;
}  

.video-inner-box .img{
   height:100%;
   width:100%;  
}

.video-box {
  margin: 0 20px 0 -20px;
}
.bottom-box {
  margin: 5px;
  height: 50px;
  text-color: black; 
  link-color: black; 
}

.main-box {
  background-color: #E6E6FA;
  padding: 100px 20px 0px 20px;
  margin: 0px 0px 0px 0px;
}

.play-box {
  background-color: white;
  padding:100px 10px 100px 10px;
  margin: 30px 0px 0px 0px;
}

.foot-box {
  background-color: rgba(0, 0, 0, 0.2);
  margin:0 0 -50px 0;
  padding: 25px 0 0 0;
  link-color:black;
}
a.foot-box{
      color: black;
      &:hover {
         color: gray;
       }
     }
.flash {
  margin:60px 0 -40px 0;

}
/*back-ground*/
body{
  
  margin: 0 0 0 0;
  padding:0 0 0 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

/*comment css setting*/
.comment-head {
  background-color: gray;
  padding:10px 0 0 10px;
}


.side-video {
  margin: 200px 0 0 0px;
}


.home-play-box {
  box-shadow: 0 0 2px gray;
  margin: -60px -20px 20px -19px;
  background-color: black;
  padding:10px;
}

.home-play-box:hover {
  text-decoration: none;
}
.top-list {
   float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: brown;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 30px
}

.top-head {
  margin: 0 50px 0px 0px;
  color: green;
}
.area-head {
  margin: 0 0 0px 0px;
 color:#242424;
}

.carousel-inner > .item > img{ width:820px; height:500px; }

.update-box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    margin: 0 0px 20px 0px;
    padding: 10px;
}
.user-show-box {
  background-color: #E6E6FA;
 
}

/*navbar color change*/
/* set the background-color to red */
.navbar-inner
{
background-color: rgba(69, 134 ,0, 0.8);
/* remove the gradient */
background-image: none;
/* set font color to white */
color: white;
}

/* menu items */

/* set the background of the menu items to pink and default color to white */
.navbar {
  background-color: rgba(0, 255, 0, 0.02);
  background-image: none;
}
.navbar .nav > li > a {
background-color: #7fb80e;
color: white;

}


/* set hover and focus to lightblue */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
background-color: lightblue;
color: white;
}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

background-color: darkgreen;
color: white;
}

/*tags css*/
#tag-class {
    
    link-color:white;
    }
   
.tags {
  margin:-40px 0 20px 0;
}


img {
          display: block;
         

          max-width: 100%;
   }


.video-img {
  height:180px;
}



.food-nav {
  margin:-30px 0 -10px -15px;
}
.tag-box{
  margin:0 ;
}
.nav-video{
  margin:-30px 0 -10px 0px;
}
.area-tags:hover {
  background-color:rgba(128, 128, 128, 0.2);
}
.tag-cloud{
  background-color:white;
  border-radius: 30px;
  margin:3px 0px 3px 0;
  padding:3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}
.tag-cloud:hover {
  background-color:rgba(128, 128, 128, 0.2);
}


.help-page {
  
}
.table-view {
  padding-top: 10px;
  background-color: white;
}

.footer-nav {
  margin-top: -25px;
}

.about-page {
  background-color: white;
  height:600px;
}

.head-img{
  height:120px;
  width:100%;
}

