
<div class="  foot-box">
	<div class="text-center ">
		<h2>Made by xiaofu,hope for some ideals.<%= link_to "About Us", about_path %></h2>
		<h2>
    This is support by the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
	</div>
</div>

